*{
    margin: 0%;
    padding: 0%;
}
h1{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(1.1rem, 2.5vmax, 1.4rem);
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
    height: 50%;
    text-indent: 10px;
    font-size: clamp(.9rem, 1vmax, 1rem);
    display: flex;
    z-index: 2;
}
.inputForename, .ADDemail, .createPassword, .validPassword{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 12%;
    margin-top: 1%;
    width: 70%;
    height: 10vh;
}
.EnterEmail, .EnterPassword{
    display: none;
    flex-direction: column;
    margin: 0 auto 0;
    width: 70%;
    height: 10vh;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: .1fr .1fr 1fr .1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr .2fr;
    padding: 0%;
}
.imag-login{
    width: 90%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/4;
    margin: 0 auto 0;
    z-index: 2;
}
.Register{
    width: 27vmax;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
    border-radius: 10px;
    grid-column: 3/5;
    grid-row: 2/4;
    gap: 2%;
    padding: 10px;
    margin: 0 auto 0;
    position: relative;
    left: 0;
    z-index: 1;
    transition: .5s;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0%;
    transition: .5s;
    gap: 0vmax;
}
.acept{
    grid-row: 4;
    grid-column: 3/5;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imag-User{
    width: 75px;
}

.Text-Input{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(.9rem, 1vmax, .8rem);
    text-indent: 9.5px;
    z-index: 1;
    transition: .1s;
    font-weight: 300;
}
.button-acess{
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: clamp(.7rem, 1vmax, 1rem);
    text-align: center;
    color: white;
    background-color: rgb(42, 195, 255);
    width: 10vmax;
    padding: 3%;
    transition: .2s;
    margin-top: 2%;
}
.container-gear{
    width: max-content;
    height: 2vmax;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imag-derection{
    width: 30px;
    background-color: rgb(42, 195, 255);
    border-radius: 40%;
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    filter: drop-shadow(10px, 20px, 0px, rgb(212, 212, 212));
    z-index: 3;
}
.imag-gear1{
    width: 25px;
    height: 25px;
    transform: rotate(0deg);
    transition: .4s;
    position: relative;
    right: 84%;
    z-index: 2;
    visibility: hidden;
}
.imag-gear2{
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: .4s;
    position: relative;
    left: -15%;
    top: -10%;
    z-index: 1;
    visibility: hidden;
}
.button-direction{
    width: 30%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding-top: 10px;
    gap: 3px;
    background-color: rgb(42, 195, 255);
    transition: .2s;
    cursor: pointer;
}
.button-direction p{
    font-family: sans-serif;
    font-size: clamp(.7rem, 1vmax, 1rem);
    text-align: center;
    color: white;
}
.box-after{
    content: '';
    display: block;
    width: 1.3vmax;
    height: 100%;
    visibility: hidden;
    background-image: linear-gradient(to right, rgba(40, 149, 221, 0.877) 5%, rgba(255, 255, 255, 0) 95%);
}

/*estrutura mobile*/
@media (max-width: 1080px) {
    html, body{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .imag-User{
        width: 50px;
    }
    .imag-login{
        display: none;
    }
    .container-gear{
        height: max-content;
    }
    .imag-derection{
        width: 20px;
    }
    .imag-gear2{
        width: 18px;
        height: 18px;
        left: -4%;
        top: 0%;
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 80%;
        height: 40vmax;
    }
    .Register{
        z-index: 1;
        margin: 0 auto 0;
        position: relative;
        left: 0;
        width: 40vmax;
        transition: .5s;
    }
    input{
        height: 50%;
    }
    .inputForename, .ADDemail, .createPassword, .validPassword{
        margin-left: 0;
        width: 100%;
        height: 9vh;
    }
    .EnterEmail, .EnterPassword{
        margin-left: 0%;
        width: 100%;
        height: 8.5vh;
    }
    .acept{
        height: max-content;
        margin-top: 10%;
    }
}