*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: rgb(241, 255, 255);
    height: 100%;
}
.Unit{
    width: 100%;
    height: max-content;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Tex{
    background-color: rgba(250, 235, 215, 0);
    width: 55%;
    padding-left: 2%;
}
.Tex h1{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(1.3rem, 2.5vmax, 2rem);
    height: clamp(2vmax, 21.5vmax, 3.8vmax);
}
.Tex p{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(1rem, 1vmax, 1rem);
}
.usur{
    display: none;
}
.Box-Unit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: .8s;
}
.menu-mobile{
    display: none;
}
.Pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
    transition: .9s;
}
.TextProdu{
    height: 2vmax;
    width: 13vmax;
    border: none;
    outline: none;
    background-color: rgba(240, 248, 255, 0);
    text-indent: 10px;
}
.Iconlup{
    width: 1.5vmax;
    height: 1.5vmax;
}
.Busca{
    width: 3vmax;
    height: 2.5vmax;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: rgb(42, 195, 255);
    transition: .2s;
    cursor: pointer;
}
.Busca:hover{
    background-color: rgb(0, 155, 216);
}
.Login{
    width: 22vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background-color: rgba(127, 255, 212, 0);
    transition: .8s;
}
.SignButton, .LoginButton{
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: clamp(.7rem, 1vmax, 1rem);
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(42, 195, 255);
    width: 7vmax;
    padding: 3%;
    transition: .2s;
}
.LoginButton:hover{
    background-color: rgb(0, 155, 216);
}
.SignButton:hover{
    background-color: rgb(0, 155, 216);
}
h2{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(1rem, 2vh, 1.3rem);
    margin-top: 5%;
    text-indent: 3%;
}
.TitleRecent{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1.3rem;
    margin-top: 2%;
    text-indent: 3%;
}
.Products{
    padding-left: 5%;
    padding-right: 5%;
    gap: 3%;
    margin-top: 2%;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
}

.ProductImag{
    width: 90%;
    height: 8vmax;
}

.airpods, .Mouse, .Teclado, .Mousepad{
    width: 25%;
    height: max-content;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    gap: .3vmax;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(226, 226, 226);
}
.active-pageproducts{
    display: none;
}
.UnitDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vmax;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.UnitDescription h3{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(.9rem, .5vmax, 1.3rem);
    height: max-content;
    text-indent: 4%;
}
.UnitDescription p{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(.9rem, 1vmax, 1rem);
    text-indent: 4%;
}

.UnitPrice{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.UnitPrice p{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(.9rem, 1vmax, 1rem);
    text-indent: 4%;
}
.UnitPrice h4{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: clamp(1.2rem, 1vmax, 1.4rem);
    color: rgb(42, 236, 243);
    text-indent: 4%;
}
.Categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}
.iconsearch{
    width: 3vmax;
}
.Categories li{
    list-style: none;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(226, 226, 226);
    background-color: rgb(255, 255, 255);
    flex-grow: 0;
}
.sellProduct{
    font-family: "Noto Sans Symbols", sans-serif;
    font-family: sans-serif;
    font-size: clamp(1rem, 1vmax, 1rem);
    text-align: center;
    text-decoration: none;
    width: max-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: black;
}

@media (max-width: 600px) {
    .Unit{
        height: 10vmax;
        justify-content: left;
    }
    .List-Menu{
        width: 20px;
    }
    .Box-Unit{
       display: none;
    }
    .Pesquisa-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 13%;
        width: 50%;
        margin: 3% auto  0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(212, 212, 212);
        transition: .9s;
    }
    .TextProdu{
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background-color: rgba(5, 133, 245, 0);
        text-indent: 10px;
    }
    .elementestwo-mobile{
        width: 20%;
        height: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        background-color: rgb(42, 195, 255);
        transition: .2s;
        cursor: pointer;
    }
    .elementstwo-mobile:hover{
        background-color: rgb(0, 155, 216);
    }
    .Iconlup-search{
        width: 10px;
    }
    .menu-mobile{
        display: flex;
        position: fixed;
        top: 95%;
        width: 100%;
    }
    .listNav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        list-style: none;
    }
    .buttonNav{
        border: none;
        background-color: rgba(0, 255, 255, 0);
        transition: .5s;
    }
    .iconNavegation{
        width: 4vmax;
    }
    .iconNavegation:hover{
        filter: drop-shadow(1px 2px 3px black);
    }
    .Pesquisa, .Login{
        margin-left: 40%;
    }
    .Login{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 35%;
    }
    .SignButton, .LoginButton{
        width: 12vmax;
        height: 2vmax;
        border-radius: 5px;
    }
    .airpods, .Mouse, .Teclado, .Mousepad{
        width: 45%;
        height: max-content;
        gap: .3vmax;
        flex-shrink: 0;
        border-radius: 10px;
        box-shadow: 1px 10px 5px rgb(226, 226, 226);
    }
    .UnitDescription{
        height: 60%;
        width: 100%;
    }
    .UnitPrice{
        width: 100%;
        height: 30%;
    }
    .Products{
        width: 100%;
        height: 40vmax;
        overflow: auto;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .Categories{
        align-items: end;
        background-color: aquamarine;
    }
    .FillProduct{
        width: 100%;
        margin: 0 auto 0;
    }
    .Categories li{
        width:28%;
        background-color: blanchedalmond;
    }
    .sellProduct{
        width: 14vmax;
        border-radius: 7px;
        background-color: brown;
    }
}
