*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: rgb(241, 255, 255);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.items{
    width: 19vmax;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    gap: .3vmax;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(226, 226, 226);
}
.ProductImag{
    width: 100%;
    height: 14vmax;
}
.UnitDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vmax;
    padding: 1vmax;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.UnitDescription h3{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1.3rem;
    height: 2.7vmax;
}
 .mark{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1rem;
    width: 17vmax;
    text-indent: 7px;
}

.UnitPrice{
    background-color: white;
    width: 17vmax;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vmax;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.UnitPrice h4{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1.4rem;
    color: rgb(42, 236, 243);
}

/*CONTEUDO DO PRODUTO*/

.container{
    width: 90%;
    height: 100%;
    gap: 10px;
    margin: -30% auto 0;
    transition: 2s;
}
.Prodimag{
    width: 100%;
    height: 30vmax;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: drop-shadow( 1px 10px 10px rgb(117, 117, 117));
}

h1, h2{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1.5rem;
    width: 80%;
    margin: 2% auto 0;
    text-align: center;
}

ul{
    margin: 0;
    width: 100%;
    height: 100%;
}

li{
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 1rem;
    width: 60%;
    margin: 2% auto 0;
    text-indent: 10px;
    display: flex;
    flex-direction: column;
}

strong{
    margin-top: 2%;
    padding-bottom: 3%;
}


.suspense{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 5vmax;
    background-color: white;
    box-shadow: 1px 1px 8px rgb(226, 226, 226);
}